* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    font-weight: 400;
}
body {
    height: auto;
}
.menu_layout{
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 99;
}
#parallax {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sky {
    position: absolute;
    width: 100%;
    z-index: -1;
}
.sky #sky{
    transform: scale(1) translateX(-50%);
    width: auto;
    height: 100%;
}
.bg_main {
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: 0;
}
.bg_main #bg_main{
    width: 215%;
    transform: translateX(-40%);
}
.soyombo {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
}
.soyombo #soyombo{
    width: 100%;
}
.flag {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
}
.flag #flag{
    width: auto;
    transform: translateX(-50%);
}
.logo {
    padding: 30px;
    text-align: center;
}
.logo > img {
    max-width: 100%
}

/**left menu**/
.left-menu {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0 15px;
}
.left-menu > li {
    display: block;
}
.left-menu > li > a {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 20px;
    border-right: 1px solid transparent;
    transition: all 450ms cubic-bezier(.485, .075, .12, .855);
    border-radius: 0;
}

.left-menu > li > a > i {
    color: #2d70de;
    float: none;
    width: 40px;
    text-align: center;
    line-height: 26px;
    font-size: 24px;
    transition: all 450ms cubic-bezier(.485, .075, .12, .855);
}
.left-menu > li > a:hover {
    background: #2d70de;
    color: #fff !important;
    padding-left: 10px;
    border-right: 1px solid transparent;
}
.left-menu > li > a:hover > i {
   color: #fff
}
/**right menu**/
.right-menu {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0 15px;
}
.right-menu > li {
    display: block;
}
.right-menu > li > a {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 20px;
    border-left: 1px solid transparent;
    transition: all 450ms cubic-bezier(.485, .075, .12, .855);
    border-radius: 0;
}
.right-menu > li > a > i {

    color: #2d70de;

    float: none;

    width: 40px;

    text-align: center;

    line-height: 26px;

    font-size: 24px;

    transition: all 450ms cubic-bezier(.485, .075, .12, .855);

}

.right-menu > li > a:hover {

    background: #2d70de;

    color: #fff !important;

    padding-right: 10px;

    border-left: 1px solid transparent;

}

.right-menu > li > a:hover > i {

    color: #fff

}

/** Sumduud **/

.sumd .modal-header {

    color: #fff;

    background: #2d70de;

}

.sumd .modal-body {

    padding: 30px;

}

.sumd .modal-body ul {

    list-style: none;

    margin-bottom: 0;

}

.sumd .modal-body ul li {
}

.sumd .modal-body ul li a {

    display: block;

    color: #333;

    font-weight: 600;

    text-transform: uppercase;

    font-size: 13px;

    padding: 5px;

    transform: translateX(0px);

    transition: all 450ms cubic-bezier(.485, .075, .12, .855);

}

.sumd .modal-body ul li a img {
    height: 20px;
    width: 20px;
    margin-right: 5px;

}

.sumd .modal-body ul li a:hover {
    color: #2d70de;
    transform: translateX(10px);
    transition: all 450ms cubic-bezier(.485, .075, .12, .855);
}
@media (min-width: 768px) {
    .sky {
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .sky #sky{
        transform: scale(1) translateX(-50%);
        width: auto;
        height: 100%;
    }
    .bg_main {
        position: absolute;
        z-index: -1;
        width: 100%;
        bottom: 0;
    }
    .bg_main #bg_main{
        width: 250%;
        transform: translateX(-40%);
    }
    .soyombo {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100%;
    }
    .soyombo #soyombo{
        width: auto;
        transform: translateX(-30%);
    }
    .flag {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100%;
    }
    .flag #flag{
        height: 100%;
        transform: translateX(-35%);
        width: auto;
    }
    .logo {
        padding: 100px 0 40px;
    }

    .logo > img {
        max-width: 100%
    }

    /**left menu**/
    .left-menu {
        list-style: none;
        text-align: right;
        padding: 0
    }
    .left-menu > li {
        display: block;
    }

    .left-menu > li > a {
        color: #fff;
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.6);
        transition: all 450ms cubic-bezier(.485, .075, .12, .855);
        border-radius: 40px 0 0 40px;
    }
    .left-menu > li > a > i {
        color: #2d70de;
        float: right;
        width: 50px;
        text-align: center;
        line-height: 28px;
        font-size: 22px;
        transition: all 450ms cubic-bezier(.485, .075, .12, .855);
    }
    .left-menu > li > a:hover {
        background: #2d70de;
        color: #fff !important;
        padding-left: 50px;
        border-right: 1px solid #2d70de;
    }
    .left-menu > li > a:hover > i {
        color: #fff
    }
    /**right menu**/
    .right-menu {
        list-style: none;
        text-align: left;
        padding: 0
    }

    .right-menu > li {
        display: block;
    }
    .right-menu > li > a {
        color: #fff;
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px;
        border-left: 1px solid rgba(255, 255, 255, 0.6);
        transition: all 450ms cubic-bezier(.485, .075, .12, .855);
        border-radius: 0 40px 40px 0;

    }

    .right-menu > li > a > i {
        color: #2d70de;
        float: left;
        width: 50px;
        text-align: center;
        line-height: 28px;
        font-size: 22px;
        transition: all 450ms cubic-bezier(.485, .075, .12, .855);
    }
    .right-menu > li > a:hover {

       background: #2d70de;
        color: #fff !important;
        padding-right: 50px;
        border-left: 1px solid #2d70de;
    }
   .right-menu > li > a:hover > i {
        color: #fff
    }
}
@media (min-width: 1024px) {
    .sky {
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .sky #sky{
        transform: scale(1.1) translateX(0%);
        width: 100%;
        height: auto;
    }
    .bg_main {
        position: absolute;
        z-index: -1;
        width: 100%;
        bottom: 0;
    }
    .bg_main #bg_main{
        width: 100%;
        transform: translateX(0%);
    }
    .soyombo {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100%;
    }
    .soyombo #soyombo{
        width: 100%;
        transform: translateX(0%);
    }
    .flag {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100%;
    }
    .flag #flag{
        height: auto;
        transform: translateX(0%);
        width: 100%;
    }
}
