html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1e1e2f;
}

.full-height {
    background-color: #1e1e2f;
    height: 100%;
}

.item_cell{
    padding: 5px;
}

.item_cell .child{
    padding: 0.5rem;
    word-wrap: break-word;
    background-color: #3a4149;
    border: 1px solid #23282c;
    border-radius: .25rem;
}

.item_cell .child.first{
    border-color: #2eadd3;
    background: #62c2de;
}

.item_cell .child.second{
    border-color: #1fa8d8;
    background: #1fa8d8;
}

.item_cell .child.third{
    border-color: #fec105;
    background: #fec105;
}

.item_cell .child.fourth{
    border-color: #3a4149;
    background: #3a4149;
}

.item_cell .child .count{
    color: white;
    font-size: 1.3125rem;
    font-weight: 600;
    margin-bottom: 0px;
}
.item_cell .child .title{
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
}

#carouselExampleIndicators h1{
    font-size: 10px;
    line-height: 10px;
    color: white;
}

table{
    font-size: 10px;
    line-height: 10px;
    color: white !important;
}
table thead, table thead th{
border:none
}
table tr td{
    color: white !important;
    text-align: center;
    padding: 5px;
}
.border_none tr th,
.border_none tr,
.border_none tr td{
    border: none;
    padding: 5px;
}
