html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1e1e2f;
    font-size: 12px;
    color: white;
}

.full-height {
    background-color: #1e1e2f;
    height: 100%;
}

.item_cell{
    padding: 5px;
}

.item_cell .child{
    padding: 0.5rem;
    word-wrap: break-word;
    background-color: #27293d;

    border: 1px solid #23282c;
    border-radius: .25rem;
}

.item_cell .child .count{
    line-height: 1.4em;
    color: #fff;
    font-weight: 100;
    margin-bottom: 0px;
    position: relative;
    right: 0px;
}
.item_cell .child .title{
    color: #9a9a9a;
    font-weight: 300;
    font-size: .75rem;
    text-transform: uppercase;
}

#carouselExampleIndicators h1{
    font-size: 10px;
    line-height: 10px;
    color: white;
}

table{
    font-size: 10px;
    line-height: 10px;
    color: white !important;
}

table thead,
table thead th{
    border:none !important;
}
table tr td{
    color: white !important;
    text-align: center;
    padding: 5px;
}
.border_none tr th,
.border_none tr,
.border_none tr td{
    border: none;
    padding: 5px;
}

table td{
    font-size: 10px !important;
    font-weight: 300 !important;
    text-align: left !important;
}
