body {
  padding: 0;
  color: #333;
  font-size: 14px;
  margin: 0;
}
a {
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.container {
  max-width: 1152px;
}
.bg-white {
  background: $white;
}
.roboto-condensed {
  font-family: $roboto-condensed;
}

.searchform {
  margin-top:33px;
  width: 100%;
  position: relative;
}
.searchform input[type="text"] {
  border: none;
  color: #2371f1;
  text-shadow: 1.4px 1.4px 1px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  padding: 15px;
  width: 100%;
  height: 34px;
  border-radius: 17px;
  box-shadow: inset 1.4px 1.4px 1px 0 rgba(0, 0, 0, 0.1);
  background: #184da6;
  outline: none;
}
.searchform .button-search {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  border: 0;
  color: rgb(32, 104, 222);
  background: none;
  text-shadow: 1.4px 1.4px 1px rgba(0, 0, 0, 0.15);
  outline: none;
}
.searchform input[type="text"]::placeholder {

  color: #2371f1;
  text-shadow: 1.4px 1.4px 1px rgba(0, 0, 0, 0.15);
}
.loading {
    text-align: center;
    padding: 40px;
}
.loading img {
  width: 50px;
}

@media only screen and (max-width: 1152px) {
  .ml-1 {
    margin-left: 1em;
  }

  .mr-1 {
    margin-right: 1em;
  }
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 1em !important;
}


.mt-2 {
  margin-top: 2em !important;
}
.mb-05 {
  margin-bottom: 0.5em !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.pt-0 {
  padding-top: 0em !important;
}

.pt-1 {
  padding-top: 1em !important;
}

.pt-2 {
  padding-top: 2em !important;
}



.pb-0 {
  padding-bottom: 0em !important;
}

.pb-1 {
  padding-bottom: 1em !important;
}

.pb-2 {
  padding-bottom: 2em !important;
}



.p-0 {
  padding: 0em !important;
}

.p-1 {
  padding: 1em !important;
}

.p-15 {
  padding: 1.5em 1.2em !important;
}

.p-2 {
  padding: 2em !important;
}


.p-3 {
  padding: 3em !important;
}

.m-0 {
  margin: 0em !important;
}

.m-1 {
  margin: 1em !important;
}

.m-15 {
  margin: 1.5em !important;
}
.m-2 {
  margin: 2em !important;
}


.m-3 {
  margin: 3em !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
#mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 99999;
  background-color: #fff;
  width: 63%;
  min-width: 300px;
  height: 100%;
  overflow:auto;
  transition: all 0.3s ease;
    .card-content {
      border-top: 1px solid #dbdbdb;
    }

    .content ul {
      list-style: none !important;
      margin-left: 0em;
      margin-top: 0em;
    }
}
#mobile-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background: rgba(0,0,0, 0.6);
}

#mobile-menu.active {
  left: 0;
}

#header-mobile {
  //border-bottom: 1px solid #e6e6e6;
  height: 60px;
   .image img {
     height: 54px;
     margin:-5px auto 0px auto;
     width: auto;
   }
  a {
    text-decoration: none;
    color: #FFF;
    margin-top: 10px;
  }
  a.menu {
    margin-left: 15px;
  }
  a.search {
    margin-right: 15px;
  }
}

#header {
  font-family: $roboto-condensed;
  font-size: 13px;
  color:$white;
  //border-bottom: 1px solid #e6e6e6;

  a {
    color: $white;
  }

  #header-top {
    //border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding:6px 0px 0px 0px;
  }

  #header-content {
    padding-top: 0.2em;
    padding-bottom: 2em;
    .logo img {
      width: 360px;
    }
  }

  #header-menu {
    //border-top: 1px solid rgba(255, 255, 255, 0.1);
      height: 50px;
      //overflow: hidden;

      #menu, #menu ul {
        margin: 0;
        padding: 0;
        font-size: 13px;
        list-style: none;

      }
      #menu:before,
      #menu:after {
        content: "";
        display: table;
      }

      #menu:after {
        clear: both;
      }

      #menu {
        position: relative;
        zoom:1;

        z-index: 10;
      }

      #menu li {
        float: left;
        position: relative;
      }

    #menu li.is-active a, #menu li.is-active li.is-active a, #menu li.is-active li.is-active  li.is-active a, #menu li.is-active li.is-active  li.is-active li.is-active a {
      background: #1e62d2;
      color:#FFF;
    }
    #menu li.is-active li a {
      background: #FFF;
      color: #333;
    }



    #menu a {
      float: left;
      padding: 16px 12px 15px 11px;
      text-transform: uppercase;
      text-decoration: none;
      /*text-shadow: 0 1px 0 #000;*/
    }


    #menu ul {
      margin: 20px 0 0 0;
      _margin: 0; /*IE6 only*/
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 1;
      background: #FFF;
      -moz-box-shadow: 0 -1px rgba(255,255,255,.3);
      -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
      box-shadow: 0 -1px 0 rgba(255,255,255,.3);
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    #menu li:hover > ul {
      opacity: 1;
      visibility: visible;
      margin: 0;
    }

    #menu ul ul {
      top: 0;
      left: 250px;
      margin:0px;
    }

    #menu ul li {
      float: none;
      display: block;
      border: 0;
    }

    #menu ul a {
      color: #222222;
      padding: 10px;
      width: 250px;
      _height: 10px; /*IE6 only*/
      display: block;
      //white-space: nowrap;
      float: none;
      text-transform: none;
    }

    #menu ul a:hover {
      background-color: rgba(0,0,0, 0.1);
    }

  }
}

@media only screen and (max-width: 1212px) {
  #menu a {
    padding: 16px 6px 15px 6px !important;
    font-size: 13px;
  }
}

@media only screen and (max-width: 1024px) {
  #menu a {
    padding: 16px 5px 15px 5px !important;
    font-size: 13px;
  }
}

@media only screen and (max-width: 900px) {
  #menu a {
    padding: 16px 5px 15px 5px !important;
    font-size: 10px;
  }
}

#footer {
  font-size: 14px;
  color: rgba(255,255,255, 0.8);
  a {

    color: $white;
  }
   h3.title {
     border-left: 3px solid #1e62d2;
     padding: 0px 0px 0px 20px;
     color: white;
     text-transform: uppercase;
   }
  .footer-link a {

    border-left: 3px solid #1e62d2;
    padding: 0px 0px 0px 15px;
  }
  .contact {
    color: white;
    background-color: rgba(255,255,255, 0.1);
    i {
      width: 46px;
      height: 46px;
      background-color: rgba(0,0,0, 0.1);
      border-radius: 50%;
      line-height: 46px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      float: left;
      margin-right: 20px;
    }
    p.description {
      height: 46px;
      vertical-align: middle;
      line-height: 46px;
      overflow: hidden;
    }

  }

  .sumduud {
    .column {
      padding-bottom: 0px;
      padding-top: 0px;
      a img {
        height: 20px;
        margin-right: 5px;
        position: relative;
        top: 4px;
      }
    }

  }

  .footer-menu a {
    margin: 5px;
    text-decoration: none;
  }

  .copyright {
    background-color: rgba(0,0,0, 0.1);
  }

}
.is-8 .notification .content .title {
  line-height: 30px;
}
.title {
  font-size: 15px;
}
.notification {
  min-height: 220px;
  border-radius: 0px;
  padding: 0px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  .content {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    .tags {
      margin-bottom:7px;
    }
    .tag {
      margin-bottom: 0px;
    }
    .title {
      font-weight:normal;
      margin-bottom:5px;
      line-height: 18px;
      a {
        color: $white;
        text-decoration: none;
      }
    }

  }
}
.tag.is-info {
  background-color: #2068de;
}
.tag.is-warning {
  color: #FFF !important;
  background-color: #ff7600 !important;
}
.tag.is-info {

}
.date {
  font-size: 12px;
  color:#888;
}
.date i {
  margin-right: 3px;
}
.bgGrad {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 85%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 85%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}

.homeMenu {
  font-size: 16px;
  font-weight: normal;
  //font-style: italic;
  font-stretch: condensed;
  a { color: #333; }
  .column.is-6-mobile div {
    max-width: 130px;
    margin: 0px auto;
  }

  .column {
    cursor: pointer;
    .icon {
      margin-bottom: 5px;
      color:#485977;
    }
  }

  .column:hover .icon {
    color: $black;
    zoom: 1.1;
  }


}
.tile.is-child.mb2px {
  margin-bottom: 2px !important;
}

#ontslokh {
  padding-top: 20px;
  padding-bottom: 25px;
  background: #FFF;
  .tile.is-ancestor {
    margin: 0px !important;
  }
  .tile.is-vertical > .tile.is-child:not(:last-child) {
    margin: 0 0 2px 0 !important;
  }
  .is-parent {
    position: relative;
  }

  .tile.is-8 {
    height: 442px;
    overflow: hidden;
  }
  @media only screen and (max-width: 770px) {
    .tile.is-8 {
      height: 220px;
    }
    .tile.is-4 .notification {
      height: 220px;
    }
  }

}
.VueCarousel {
  margin-top: 50px;
}

.VueCarousel-navigation-button {
  position: absolute;
  top: -2.5em !important;
  right: 6px !important;
  color: #aaaaaa !important;
  background: #f5f5f5 !important;
  width: 20px;
  height: 20px;
  padding: 0 !important;
  transform: none !important;
}
.VueCarousel-navigation-button:hover {
  color: #FFF !important;
}
.VueCarousel-navigation-button.VueCarousel-navigation-prev {
  right: 36px !important;
  left: auto !important;
}

.VueCarousel-navigation--disabled {
  opacity: 1 !important;
}

.bcarousel {
  position: relative;
}

.bTitle {
  border-left: 3px solid #333745;
  padding: 0px 0px 0px 20px;
  margin-left: -16px;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: bold;
  color: #333745;
}

.bcarousel h3 {
  z-index: 100;
}
.bcarousel .VueCarousel {
  z-index: 99;
  margin-top: 1em;
}


.blue .bTitle,.blue  .newslist:hover  a {
  color: #2068de;
  border-color: #2068de;
}

.blue .VueCarousel-navigation-button:hover, .blue .tag, .blue .bar--vertical-internal  {
  background-color: #2068de !important;
}

.red .bTitle,.red  a:hover  {
  color: #f63946;
  border-color: #f63946;
}

.red .VueCarousel-navigation-button:hover, .red .tag, .red .bar--vertical-internal  {
  background-color: #f63946 !important;
}

.orange .bTitle, .orange  a:hover   {
  color: #ff7600;
  border-color: #ff7600;
}


.orange .VueCarousel-navigation-button:hover, .orange .tag, .orange .bar--vertical-internal  {
  background-color: #ff7600 !important;
}

.green .bTitle, .green  a:hover  {
  color: #2ab673;
  border-color: #2ab673;
}

.green .VueCarousel-navigation-button:hover, .green .tag,  .green .bar--vertical-internal  {
  background-color: #2ab673 !important;
}

.bcarousel-list {
  position: relative;
  background-size: cover;
  background-position: center center;
  height:195px;
  margin:0px 0.3em;
}

.CarTitle {
  padding: 0.5em 1em 0.5em 1em;
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  left: 0;
  bottom: 0px;
  right: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
  .tag {
    margin-bottom: 5px;
    color: #FFF;
  }
}


.bar--vertical {
  width:3px !important;
  background-color: #e5e5e5 !important;
  border-radius: 0px !important;
}
.bar--vertical-internal {
  background-color: #485977 !important;
  opacity:1 !important;
}

.newslist {
  padding: 0.7em 0 0.7em 0;
  margin-right: 1.5em;
  border-bottom: 1px solid #eaebec;
}
.newslist .date {
  color: #777777;
  font-size: 12px;
}
.newslist  a {
  font-size: 13px;
  color: #333333;
}

.wrapper { width:100%; height: 495px; }

.bg-light {
  background-color: #eeeeee !important;
}

.videoList a {
  font-size: 13px;
  color: #333333;
}
.shadow {
  box-shadow: rgb(221, 221, 221) 0px 1px 1px;
}
.menu li a{
   font-family: "Roboto Condensed";
   padding: 10px;
   display: block;
   background: #FFF;
   color: #333;
   margin-bottom:5px;
  box-shadow: rgb(221, 221, 221) 0px 1px 1px;

}

.menu-list li ul {
  margin-right: 0px;
}
.menu-list a.is-active, .menu-list a:hover {
  color: rgb(23, 83, 181);
  background: #FFF;
}
.menu-label {
  text-align: center;
  color: #FFF;
  background: rgb(32, 104, 222);
  padding: 1em;
}

#youtubeFrame {
  width: 100%;
  height: 442px;
}

@media only screen and (max-width: 1152px) {
  #youtubeFrame {
    height: 350px;
  }
}

@media only screen and (max-width: 500px) {
  #youtubeFrame {
    height: 250px;
  }
}

.button i {
  margin-right:10px;
}

.boxnewslist {
  padding-bottom: 20px
}

.boxnewslist .boxnewslist-img {
  position: relative;
}
.boxnewslist .boxnewslist-img img {
  z-index: 0;
}
.boxnewslist .boxnewslist-img .type {
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
  margin-top: 0;
  margin-left: 0;
  z-index: 1;
  border-radius: 50%;
  text-align: center;
  background: rgb(0, 108, 255);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  font-size: 10px;
}
.boxnewslist .boxnewslist-img .type:hover {
  background: #FFF;
  color: rgb(0, 108, 255);
}

a .boxnewslist-title {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  color: #333;
  margin-bottom: 0.5em;
}
.boxnewslist .date {
  margin-bottom: 0.8em;
}
.boxnewslist-content {
  color: #888;
  text-align: justify;
  overflow: hidden;
  line-height: 22px;
  max-height: 48px;
}

.pagination {
  padding: 0 0.3em;
  margin-top: -1.5em;
}

.col3newslist {
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 195px;
}

a .col3newslist .title {
    padding: 0.5em 1em 0.5em 1em;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 0;
    bottom: 0px;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
  color:#FFF;
  }

@media screen and (min-width: 1140px) {
  .modal-card {
    width: 1040px;
  }
}


@media screen and (min-width: 1340px) {
  .modal-card {
    width: 1240px;
  }
}

.sumlist {
  img {
    position:relative;
    top:5px;
    height: 20px;
    float: left;
    margin-right: 10px;
  }
  padding: 5px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  display: block;
  color: #222;
}
.sumlist:hover, .agentlaglist:hover {
  color: #1e62d2;
}
.modal {
  z-index: 100;
}
.agentlaglist {
  background-position: left center;
  background-size: 10px 20px;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 5px;
  min-height: 25px;
  color: #222;
  display: block;
}

.pollanswers {
  border-top: 1px dashed #dbe1ea;
  margin: 8px 0px 8px 0px;
}

.pollanswers td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pollanswers td .round {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #dbe1ea;
  margin-top: 2px;
  cursor: pointer;
}