.scroll-wrapper {
	padding: 0 !important;
	position: relative;
}
.scroll-wrapper > .scroll-content {
	height: auto;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none !important;
	overflow: scroll !important;
	padding: 0;
	position: relative !important;
	top: 0;
	width: auto !important;
}
 .scroll-wrapper > .scroll-content::-webkit-scrollbar {
 height: 0;
 width: 0;
}
.scroll-element {
	display: none;
}
.scroll-element, .scroll-element div {
	box-sizing: content-box;
}
.scroll-element.scroll-y.scroll-scrolly_visible {
	display: block;
	opacity: 1;
	transition: all 0.2s ease
}
.scrollbar-inner:hover .scroll-element.scroll-y.scroll-scrolly_visible {
	opacity: 1
}
.scroll-element .scroll-bar,  .scroll-element .scroll-arrow {
	cursor: pointer;
}
/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,  .scrollbar-inner > .scroll-element div {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 9999;
}
.scrollbar-inner > .scroll-element div {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.scrollbar-inner > .scroll-element.scroll-x {
	bottom: 2px;
	height: 8px;
	left: 0;
	width: 100%;
}
.scrollbar-inner > .scroll-element.scroll-y {
	height: 100%;
	right: 0;
	top: 0;
	width: 4px;
}
.scrollbar-inner > .scroll-element .scroll-element_outer {
	overflow: hidden;
}
.scrollbar-inner > .scroll-element .scroll-element_track,  .scrollbar-inner > .scroll-element .scroll-bar {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.scrollbar-inner > .scroll-element .scroll-element_track {
	background-color: #e5e5e5;
}
.scrollbar-inner > .scroll-element .scroll-bar {
	background-color: var(--MainColor);
}
.scrollbar-inner > .scroll-element:hover .scroll-bar {
	background-color: var(--SecondColor);
}
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
	background-color: var(--SecondColor);
}
